<!doctype html>

<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Divine Jewellery</title>
<link
	href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&amp;display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="css/plugin.min.css">
<link rel="stylesheet" href="css/style.css">

<link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">

<link rel="stylesheet" href="release/v4.0.0/css/line.css">
</head>
<body class="layout-light side-menu">
	<div class="mobile-search">
		<form action="https://demo.dashboardmarket.com/" class="search-form">
			<img src="img/svg/search.svg" alt="search" class="svg"> <input
				class="form-control me-sm-2 box-shadow-none" type="search"
				placeholder="Search..." aria-label="Search">
		</form>
	</div>
	<div class="mobile-author-actions"></div>
	<header class="header-top">
		<nav class="navbar navbar-light">
			<div class="navbar-left">
				<div class="logo-area">
					<a class="navbar-brand" href="index.html"> <img class="dark"
						src="img/logo-dark.png" alt="logo"> <img class="light"
						src="img/logo-white.png" alt="logo">
					</a> <a href="#" class="sidebar-toggle"> <img class="svg"
						src="img/svg/align-center-alt.svg" alt="img"></a>
				</div>

				<div class="top-menu"></div>
		</nav>
	</header>
	<main class="main-content">
		<div class="sidebar-wrapper">
			<div class="sidebar sidebar-collapse" id="sidebar">
				<div class="sidebar__menu-group">
					<ul class="sidebar_nav">
						<li class="has-child open"><a href="#" class="active"> <span
								class="nav-icon uil uil-create-dashboard"></span> <span
								class="menu-text">Dashboard</span>

						</a></li>

						<li class="menu-title mt-30"><span>Options</span></li>
						<li class="has-child"><a href="#" class=""> <span
								class="nav-icon uil uil-bag"></span> <span
								class="menu-text text-initial">Category</span> <span
								class="toggle-icon"></span>
						</a>
							<ul>
								<li class="">
  <a href="addcategory">Add Category</a>
  </li>
								<li class=""><a href="view_category">View
										Category</a></li>
							</ul></li>
						<li class="has-child"><a href="#" class=""> <span
								class="nav-icon uil uil-envelope"></span> <span
								class="menu-text">Product</span> <span class="toggle-icon"></span>
						</a>
							<ul>
								<li class=""><a href="addproduct">Add Product</a></li>
								<li class=""><a href="view_product">View Product</a></li>
							</ul></li>

						<li class="has-child"><a href="orderhistory" class=""> <span
								class="nav-icon uil uil-folder"></span> <span class="menu-text">Order
									History</span>

						</a></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="contents">
			<div class="crm mb-25">
				<div class="container-fluid">
					<div class="row ">
						<div class="col-lg-12">
							<div class="breadcrumb-main">
								<h4 class="text-capitalize breadcrumb-title">Welcome</h4>
								<div class="breadcrumb-action justify-content-center flex-wrap">

								</div>
							</div>
						</div>


						<div class="col-xxl-6">
							<div class="row">
								<div class="col-xxl-6 col-sm-6 mb-25">

									<div
										class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
										<div class="overview-content w-100">
											<div
												class=" ap-po-details-content d-flex flex-wrap justify-content-between">
												<div class="ap-po-details__titlebar">
													<h1>Total Products</h1>
													<p th:text="${productcount}"></p>
												</div>
												<div class="ap-po-details__icon-area">
													<div
														class="svg-icon order-bg-opacity-primary color-primary">
														<i class="uil uil-briefcase-alt"></i>
													</div>
												</div>
											</div>
											<div class="ap-po-details-time">
												<span class="color-success"><i
													class="las la-arrow-up"></i></span> <small>Since last
													month</small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xxl-6">
							<div class="row">
								<div class="col-xxl-6 col-sm-6 mb-25">
									<div
										class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
										<div class="overview-content w-100">
											<div
												class=" ap-po-details-content d-flex flex-wrap justify-content-between">
												<div class="ap-po-details__titlebar">
													<h1>Total Categories</h1>
													<p th:text="${categorycount}"></p>
												</div>
												<div class="ap-po-details__icon-area">
													<div
														class="svg-icon order-bg-opacity-primary color-primary">
														<i class="uil uil-briefcase-alt"></i>
													</div>
												</div>
											</div>
											<div class="ap-po-details-time">
												<span class="color-success"><i
													class="las la-arrow-up"></i></span> <small>Since last
													month</small>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<footer class="footer-wrapper">
			<div class="footer-wrapper__inside">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<div class="footer-copyright">
								<p>
									<span>© 2023</span><a href="#">Divine Jewellery</a>
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</footer>
	</main>
	
	<div id="overlayer">
		<div class="loader-overlay">
			<div class="dm-spin-dots spin-lg">
				<span class="spin-dot badge-dot dot-primary"></span> <span
					class="spin-dot badge-dot dot-primary"></span> <span
					class="spin-dot badge-dot dot-primary"></span> <span
					class="spin-dot badge-dot dot-primary"></span>
			</div>
		</div>
	</div>
	
	<div class="overlay-dark-sidebar"></div>
	<div class="customizer-overlay"></div>
	<div class="customizer-wrapper">
		<div class="customizer">
			<div class="customizer__head">
				<h4 class="customizer__title">Customizer</h4>
				<span class="customizer__sub-title">Customize your overview
					page layout</span> <a href="#" class="customizer-close"> <img
					class="svg" src="img/svg/x2.svg" alt="">
				</a>
			</div>
			
			<div class="customizer__body">
				<div class="customizer__single">
					<h4>Layout Type</h4>
					<ul class="customizer-list d-flex layout">
						<li class="customizer-list__item"><a
							href="https://demo.dashboardmarket.com/hexadash-html/ltr"
							class="active"> <img src="img/ltr.png" alt=""> <i
								class="fa fa-check-circle"></i>
						</a></li>
						<li class="customizer-list__item"><a
							href="https://demo.dashboardmarket.com/hexadash-html/rtl"> <img
								src="img/rtl.png" alt=""> <i class="fa fa-check-circle"></i>
						</a></li>
					</ul>
				</div>

				<div class="customizer__single">
					<h4>Sidebar Type</h4>
					<ul class="customizer-list d-flex l_sidebar">
						<li class="customizer-list__item"><a href="#"
							data-layout="light" class="dark-mode-toggle active"> <img
								src="img/light.png" alt=""> <i class="fa fa-check-circle"></i>
						</a></li>
						<li class="customizer-list__item"><a href="#"
							data-layout="dark" class="dark-mode-toggle"> <img
								src="img/dark.png" alt=""> <i class="fa fa-check-circle"></i>
						</a></li>
					</ul>
				</div>

				<div class="customizer__single">
					<h4>Navbar Type</h4>
					<ul class="customizer-list d-flex l_navbar">
						<li class="customizer-list__item"><a href="#"
							data-layout="side" class="active"> <img src="img/side.png"
								alt=""> <i class="fa fa-check-circle"></i>
						</a></li>
						<li class="customizer-list__item top"><a href="#"
							data-layout="top"> <img src="img/top.png" alt=""> <i
								class="fa fa-check-circle"></i>
						</a></li>
						<li class="colors"></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<script src="js/plugins.min.js"></script>
	<script src="js/script.min.js"></script>

</body>

</html>