<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="ISO-8859-1">

<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--[if IE]>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
        <![endif]-->
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Jewellery Shop - Multipurpose Ecommerce Responsive Html5 template" />
        <meta name="author" content="itgeeksin.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>Divine Jewellery</title>
        <!-- Bootstrap -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="img1/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img1/favicon.ico" type="image/x-icon">
        <!-- Master Css -->
        <link href="css1/main.css" rel="stylesheet">
        <link href="plugin1/switcher/css/switcher.css" rel="stylesheet">
        <link href="css1/color.css" rel="stylesheet" id="colors">
</head>
<body>
        <header>
            <!--//==preloader Start==//-->
            <div class="loading">
                <div>
                    <div class="c1"></div>
                    <div class="c2"></div>
                    <div class="c3"></div>
                    <div class="c4"></div>
                </div>
                <h3>Loading</h3>
            </div>
            <!--//==preloader End==//-->
            <!--//==top bar start==//-->
            
            <div class="top-middle-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row pad-top-bottom25 head-top-sec">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <figure class="logo-box">
                                        <a class="" href="/Home">
                                        <center><img alt=""  src="img/logo-dark.png"></a></center>
                                    </figure>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//==mega menu start==//-->
            <div id="main-menu" class="wa-main-menu">
                <!-- Menu -->
                <div class="wathemes-menu relative">
                    <!-- navbar -->
                    <div class="navbar navbar-default navbar-bg-dark" role="navigation">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <div class="navbar-header pad-top15 pad-bottom15">
                                        
                                        <div class="icons-section boxx pull-right">
                                            <ul>
                                                
                                            </ul>
                                        </div>
                                        <a class="navbar-brand hidden-sm hidden-md hidden-lg logo-second" href="index.html">
                                        <img class="site_logo" alt="Site Logo" src="img1/menu-logo.png">
                                        </a>
                                    </div>
                                    <!-- Navbar Collapse -->
                                    <div class="navbar-collapse collapse">
                                        <!-- nav -->
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="Home">Home</a>
                                            </li>
                                            <li>
                                                <a href="#">Account</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/accountinfo">Account Details</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Categories</a>
                                                <ul class="dropdown-menu">
                                                	<li th:each="category : ${categories}"><strong th:text="${category.getCategory_name()}" style="color:white;"></strong></li>
                                                                                                        
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact-page.html">
                                                Contact
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/logout">
                                                Logout
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- navbar-collapse -->
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-9 hidden-xs">
                                    <div class="icons-section pad-top20 pull-right">
                                        <ul>
                                            <li class="search-box1 hidden-xs">
                                                <input class="search" type="search" placeholder="Search" name="search"/>
                                                <div class="icon"><a href="#" class="mini-cart-icon"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                            </li>
                                            <li class="hidden-xs login-box-man">
                                                <a href="#" class="mini-cart-icon"><i class="fa fa-user " aria-hidden="true"></i></a>
                                                <div class="login-section">
                                                    <ul class="pad-10">
                                                        <li><a href="login">Sign In</a></li>
                                                        <li><a href="register">Create Account</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="hidden-xs hover-mini-cart">
                                                <a href="cartDetail" class="mini-cart-icon"><i class=" fa fa-shopping-cart" aria-hidden="true"></i></a>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- col-md-12 -->
                            </div>
                            <!-- row -->
                        </div>
                        <!-- container -->
                    </div>
                    <!-- navbar -->
                </div>
                <!--  Menu -->
            </div>
            <!--//==mega menu end==//-->
        </header>
                
        
        <div th:replace="${content}"></div>
        
        <footer>
            <div class="footer-main-section">
                <div class="special-style special-style-full special-style-semidark col-md-12 col-md-offset-0 pull-right">
                    <div class="bg-image" style="background-image:url('img1/all/footer-bg.jpg');"></div>
                </div>
                <div class="container">
                    <div class="row pad-top80 pad-bottom80">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-section1">
                                <h4 class="footer-head-line">About us</h4>
                                <p>We are passionate about offering the highest quality of service and our wealth of knowledge guarantees you and your precious jewellery will be exceptionally cared for.</p>
                                <ul class="text-box">
                                    <li> 
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <span>hello@gmail.com</span>
                                    </li>
                                    <li> 
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span>P: 3333 222 1111</span>
                                    </li>
                                    <li> 
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span> 99 Barnard St States - GA 22222 </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 responsive-top">
                            <div class="footer-section2">
                                <h4 class="footer-head-line">Information</h4>
                                <ul class="footer-box2 pad-top15">
                                    <li><a href="#">About Us</a></li>
                                   
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="footer-bottom-bar pad-top-bottom25">
                    <p>Copyright © 2023 Divine Jewellery- <span class="footer-text">Jewellry</span> and All Rights Reserved. Designed by  <span class="footer-text"><a href="#">ASRM</a></span></p>
                </div>
            </div>
        </footer>
        <!--//===footer-main-section End==//-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js1/jquery.min.js"></script>
        <script src="js1/bootstrap.min.js"></script>
        <script src="plugin1/owl-carousel-slider/js/owl.carousel.min.js"></script>
        <script src="plugin1/menu-menu/js/hover-dropdown-menu.js"></script>
        <script src="plugin1/fancyBox/js/jquery.fancybox.pack.js"></script>
        <script src="plugin1/fancyBox/js/jquery.fancybox-media.js"></script>
        <script src="plugin1/vertical-slider/js/jquery.bxslider.js"></script>
        <script src="plugin1/acordian/js/jquery-ui.js"></script>
        <script src="plugin1/menu-menu/js/jquery.hover-dropdown-menu-addon.js"></script>
        <script src="plugin1/switcher/js/switcher.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js1/main.js"></script>
    </body>
</html>