<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{customer/base::layout(~{::div})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>login Form</h1>
		<form method="post" action="/validate">
			<label for="username">Username:</label> <input type="text"
				name="email" id="email" required style="border:0.5px solid black;" /> <br /> <label for="password">Password:</label>
			<input type="password" name="password" id="password" required style="border:0.5px solid black;" /> <br />
			<input type="submit" value="login" />
		</form>
	</div>

</body>
</html>