<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{customer/base::layout(~{::div})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div class="breadcrumb-section-box">

            <div class="special-style special-style-full special-style-semidark col-md-12 col-md-offset-0 pull-right">

                <div class="bg-image" style="background-image:url('img1/all/breadcrumb-img.png');"></div>

            </div>

            <div class="container">

                <div class="row">

                    <div class="col-md-12 col-sm-12 pad-top100 pad-bottom100 heading-box">

                        <h3 class="heading-breadcrumb box-z text-center">Product Detail</h3>

                        <div class="clear"></div>

                       

                        <div class="breadcrumb-box">

                            <ul class="breadcrumb">

                                <li>

                                    <a class="sab-heading-breadcrumb box-z" href="index.html">home</a>

                                </li>

                                <li class="heading-wa box-z activ">Product Detail</li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="blog-griad product">

            <div class="container">

                <div class="row pad-top80 pad-bottom80">

                    <div class="col-md-5 col-sm-5 col-xs-12">

                        <div class="row">

                            <div class="col-md-10 col-sm-10 col-xs-12 pull-right ">

                                <figure class="product-img">

                                    <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                    <img src="img1/all/product-detail1.jpg" alt="">

                                    </a>

                                </figure>

                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-2 popap-open hidden-xs">

                                <div class="row responsive-top vertical-slider-box pad-top50">

                                    <div class="slider8">

                                        <div class="col-md-12 col-sm-12 col-xs-12 pad-top30 popap-box slide">

                                            <figure>

                                                <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                                <img src="img1/all/product-img1.jpg" alt="">

                                                </a>

                                            </figure>

                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 pad-top30 popap-box slide">

                                            <figure>

                                                <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                                <img src="img1/all/product-img3.jpg" alt="">

                                                </a>

                                            </figure>

                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 pad-top30 popap-box pro-box-1 slide">

                                            <figure>

                                                <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                                <img src="img1/all/product-img2.jpg" alt="">

                                                </a>

                                            </figure>

                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 pad-top30 popap-box slide">

                                            <figure>

                                                <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                                <img src="img1/all/product-img1.jpg" alt="">

                                                </a>

                                            </figure>

                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 pad-top30 popap-box pro-box-1 slide">

                                            <figure>

                                                <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                                <img src="img1/all/product-img2.jpg" alt="">

                                                </a>

                                            </figure>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm">

                                <div class="vertical-slider-2 pad-top30">

                                    <div class="slider10">

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img1.jpg" alt="">

                                            </a>

                                        </div>

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img2.jpg" alt="">

                                            </a>

                                        </div>

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img3.jpg" alt="">

                                            </a>

                                        </div>

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img1.jpg" alt="">

                                            </a>

                                        </div>

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img3.jpg" alt="">

                                            </a>

                                        </div>

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img2.jpg" alt="">

                                            </a>

                                        </div>

                                        <div class="slide">

                                            <a href="img1/all/product-detail1.jpg" class="fancybox" data-fancybox-group="group">

                                            <img src="img1/all/product-img1.jpg" alt="">

                                            </a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12 responsive-top">
                    

                        <h3 class="theme-headdings text-left pad-top10 product-detail-title"><a href="#"><label th:text="${product.getProduct_name()}"></label></a></h3>

                      

                        <div class="clear"></div>
                        <form action="addCartData" method="post">

                        <div class="per-box texy-left mar-top15">

                            <p th:text="${product.getProduct_description()}"></p>
                            <input type="hidden" th:value="${product.getProduct_id()}" name="product_id">
							<input type="hidden" th:value="${session.user_id}" name="user_id">
                        </div>

                        <div class="head-medial-text pad-top10">

                            <p>Availability: <span class="Products-in-stock" th:text="${product.getStatus()}"></span></p>

                        </div>

                        <div class="head-medial-text pad-top10">

                            <p>Product Code:  <span class="Products-in-stock" th:text="${product.getProduct_id()}"></span></p>

                        </div>

                        

                      

                        <div class="col-md-5 col-sm-5 row">

                            <div class="order-data box order-table text-center padTB15">

                                <div class="order-table-cell order-text product-input-type">

                                    <input type="number" value="01" class="qty" name="quantity">													

                                </div>

                            </div>

                        </div>

                        <div class="col-md-7 col-sm-5 product-box-btm-blog row">

                            <button class="itg-button pro btn left mar-top15" type="submit">Add To Cart</button>

                        </div>
                        </form>

                    </div>

                </div>

              
            </div>

        
                <div class="clear"></div>

            </div>

        

       

        <div class="quick-vive-popap">

            <!--//================Quick view Start ==============//--> 

            <div class="container">

                <div class="modal fade" id="myModal">

                    <div class="modal-dialog modal-lg" >

                        <div class="Quick-view-popup modal-content text-left">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>

                            <div class="col-md-12 col-xs-12 popap-open-box">

                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-12">

                                        <div class="row">

                                            <div class="col-xs-12 marB30">

                                                <figure>

                                                    <img src="img1/all/product-detail.png" alt="">

                                                </figure>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 responsive-top">

                                        <h3 class="theme-headdings text-left pad-top10 product-detail-title"><a href="#">High Designer Jewellery</a></h3>

                                       

                                        <div class="clear"></div>

                                        <div class="per-box texy-left mar-top15">

                                            <p>Morbi mollis vestibulum sollicitudin. in eros a justo facilisis rutrum. Aenean id ullamcorper libero.</p>

                                        </div>

                                        <div class="product-detail-btn  pad-top15">

                                            <div class="form-row col-sm-5 col-xs-12 country-boxs billing-box select ">

                                                <div class="row">

                                                    <p>

                                                        <label for="billing_state">Material</label>

                                                        <select class="billing_state2" id="billing_state" name="billing_state">

                                                            <option value="">Select Color</option>

                                                            <option value="AP">Red</option>

                                                            <option value="AR">Blue</option>

                                                            <option value="AS">Green</option>

                                                            <option value="BR">Yellow</option>

                                                            <option value="CT">Black</option>

                                                        </select>

                                                    </p>

                                                </div>

                                            </div>

                                            <div class="form-row col-sm-5 country-boxs billing-box select down ">

                                                <div class="row ">

                                                    <p>

                                                        <label for="billing_state">Size</label>

                                                        <select class="billing_state" id="billing_state1" name="billing_state">

                                                            <option value="">Select Size</option>

                                                            <option value="AP">S</option>

                                                            <option value="AR">L</option>

                                                            <option value="AS">M</option>

                                                            <option value="BR">XL</option>

                                                            <option value="CT">XXL</option>

                                                        </select>

                                                    </p>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-6 col-sm-7 row">

                                            <div class="order-data box order-table text-center padTB15">

                                                <div class="order-table-cell order-text product-input-type">

                                                    <input type="number" value="01" class="qty" name="qty1">													

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-md-7 col-sm-7 product-box-btm-blog row">

                                            <a href="#" class="itg-button mar-top15">Add To Cart</a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

</body>
</html>